@use "variables.scss" as v;

//
//BREAKPOINTS
//
@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 1152px) {
    @content;
  }
}

//   @mixin lg {
//     @media (min-width: 1440px) {
//       @content;
//     }
//   }

//   @mixin xl {
//     @media (min-width: 1920px) {
//       @content;
//     }
//   }

//

@mixin header {
  background-color: v.$navyblue;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;

  @include sm {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
  }
}

@mixin btn-header--yellow {
  padding: 16px 40px;
  background: v.$yellow;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: v.$navyblue;
}

@mixin btn-header--blue {
  padding: 16px 24px;
  background: v.$blue;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: v.$white;
}

@mixin logotext {
  font-style: normal;
  font-weight: 700;
  font-size: 1.22rem;
  line-height: 1.5rem;
  color: v.$white;

  @include sm {
    font-size: 28px;
    line-height: 34px;
  }
}

@mixin title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: v.$white;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }

  @include md {
    text-align: left;
    font-size: 64px;
    line-height: 77px;
  }
}

@mixin title--choose {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: v.$black;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }

  @include md {
    text-align: center;
    font-size: 64px;
    line-height: 77px;
  }
}

@mixin title-left {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: left;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: v.$white;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    max-width: 604px;
  }
}

@mixin title--light {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: v.$black;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }

  @include md {
    text-align: left;
    font-size: 64px;
    line-height: 77px;
  }
}

@mixin title-sponsors {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: v.$black;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }
}

@mixin text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: v.$white;

  @include sm {
    max-width: 728px;
  }

  @include md {
    text-align: left;
  }
}

@mixin text-left {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: v.$white;

  @include sm {
    max-width: 604px;
  }

  @include md {
    text-align: center;
  }
}

@mixin text--light {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: v.$black;

  @include sm {
    max-width: 728px;
  }

  @include md {
    text-align: left;
  }
}

@mixin text--choose {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  color: v.$black;

  @include sm {
    max-width: 728px;
  }

  @include md {
    max-width: 979px;
  }
}

@mixin text--montserrat {
  font-family: v.$montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-align: center;
  margin-bottom: 3.75rem;
  color: v.$black;

  @include sm {
    font-family: v.$inter;
    line-height: 30px;
  }

  @include md {
    text-align: left;
  }
}

@mixin btn {
  padding: 1.25rem 2.5rem;
  background-color: v.$blue;
  border-radius: 0.5rem;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: v.$white;
}

@mixin boximage {
  background-color: v.$lightblue;
  width: 17.875rem;
  height: 11.9375rem;

  @include sm {
    width: 551px;
    height: 367px;
  }

  @include md {
    width: 526px;
    height: 350px;
  }
}

@mixin board-blue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: v.$navyblue;
  box-shadow: v.$boardshadow;
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 18.0625rem;

  @include md {
    padding: 80px 44px;
  }
}

@mixin board-white {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: v.$white;
  border: 0.0625rem solid v.$yellow;
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 18.0625rem;

  @include md {
    padding: 40px 44px;
  }
}

@mixin board-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: v.$whtite2;
  margin-bottom: 1.5625rem;
}

@mixin board-title-white {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: v.$black;
  margin-bottom: 1.5625rem;
}

@mixin board-price {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: v.$yellow;
  margin-bottom: 1.5625rem;
}

@mixin board-price-white {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: v.$black;
  margin-bottom: 1.5625rem;
}

@mixin board-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: v.$whtite2;

  @include md {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}

@mixin board-text-white {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: v.$black;

  @include md {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}

@mixin board-btn {
  padding: 1rem 2.5rem;
  background: v.$blue;
  border-radius: 0.5rem;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: v.$white;
}

@mixin board-btn-white {
  padding: 1rem 2.5rem;
  background: v.$white;
  border-radius: 0.5rem;
  border: 0.0625rem solid v.$yellow;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: v.$black;
}

@mixin title-opinions {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  color: v.$black;

  @include sm {
    font-size: 54px;
    line-height: 65px;
    letter-spacing: -0.02em;
  }
}

@mixin comment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.25rem;
  background: v.$white;
  box-shadow: v.$commentshadow;
  border-radius: 0.625rem;
  max-width: 18rem;

  @include md {
    padding: 60px 24px;
  }
}

@mixin text-opinion {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  color: v.$black;
  border-bottom: 0.0625rem solid v.$black;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;

  @include sm {
    font-size: 18px;
    line-height: 30px;
  }
}

@mixin text-opinion-white {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  color: v.$white;
  border-bottom: 0.0625rem solid v.$white;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;

  @include sm {
    font-size: 18px;
    line-height: 30px;
  }
}

@mixin opinion-name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  color: v.$black;
  margin-bottom: 0.9375rem;

  @include md {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin opinion-name-blue {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  color: v.$navyblue;
  margin-bottom: 0.9375rem;

  @include md {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin opinion-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: v.$black;

  @include md {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin opinion-caption-white {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: v.$white;

  @include md {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin footer {
  background-color: v.$navyblue;
  padding-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include sm {
    padding-top: 140px;
  }
}

@mixin footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 1.5rem;
  color: v.$white;

  @include sm {
    font-size: 54px;
    line-height: 62px;
  }

  @include md {
    font-size: 72px;
    line-height: 87px;
    margin: 0 auto 1.5rem;
    text-align: center;
  }
}

@mixin footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: v.$white;

  @include sm {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  @include md {
    margin: 0 auto;
    text-align: center;
  }
}

@mixin footer-btn {
  padding: 1.25rem 2.5rem;
  background: v.$blue;
  border-radius: 0.375rem;
  font-family: v.$montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: v.$white;
  border: none;

  @include md {
    margin: 0 auto;
    padding: 20px 40px;
  }
}

@mixin footer-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: v.$white;

  @include sm {
    font-size: 51px;
    line-height: 62px;
  }

  @include md {
    font-size: 28px;
    line-height: 34px;
  }
}

@mixin footer-text-logo {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin: 0 auto 5rem;
  color: v.$straw;

  @include sm {
    max-width: max-content;
    text-align: left;
    margin: 0 0 150px;
  }

  @include md {
    font-size: 18px;
    line-height: 30px;
  }
}

@mixin footer-smalltitle {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 1.4375rem;
  color: v.$white;

  @include sm {
    max-width: 201px;
  }

  @include md {
    font-size: 28px;
    line-height: 36px;
  }
}

@mixin footer-smalltext {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: v.$white;
  max-width: 12.5625rem;
  margin: 0 auto 1.4375rem;

  @include sm {
    margin: 0 0 23px 0;
    max-width: 201px;
  }
}

@mixin navfooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include sm {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

@mixin navfooter-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: v.$white;

  @include md {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin navfooter-text--bold {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: v.$white;
}

@mixin navfooter-text--yellow {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: v.$yellow;

  @include md {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin footer-information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;

  @include sm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

@mixin footer-info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.25rem;
  color: v.$white;
}
