@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";
@use "grid.scss";
@use "reset.scss";

* {
  font-family: v.$inter;
  font-size: 16px;
}

.page {
  padding: 0 1rem;

  @include m.sm {
    padding: 0 32px;
  }

  .header {
    @include m.header;

    &__logo {
      &__img {
        width: 1.5625rem;
        height: 1.25rem;

        @include m.sm {
          width: 37px;
          height: 29px;
        }
      }
      &__text {
        @include m.logotext;
      }
    }

    &__navmenu {
      display: none;

      @include m.lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
      }

      @include m.xl {
        gap: 42px;
      }

      &__text {
        @include m.navmenu-text;
      }
    }

    &__box-btn {
      display: none;

      @include m.md {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
      }

      @include m.lg {
        justify-content: end;
        align-items: end;
      }

      &__btn--yellow {
        @include m.btn-header--yellow;
      }

      &__btn--blue {
        @include m.btn-header--blue;
      }
    }

    &__hamburger {
      max-height: 1.5rem;
      max-width: 42px;
      margin: auto 0;

      @include m.lg {
        display: none;
      }
    }
  }

  .section--dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m.md {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &__title {
      @include m.title;
    }

    &__title--main {
      @include m.title-main;
    }

    &__title--left {
      @include m.title-left;
    }

    &__text {
      @include m.text;
    }

    &__text--left {
      @include m.text-left;
    }

    &__btn {
      @include m.btn;

      &.mb-3 {
        margin-bottom: 3.75rem;
      }

      &.mb-6 {
        margin-bottom: 6.25rem;

        @include m.md {
          margin-bottom: 0;
        }
      }
    } 

    &__boximage {
      @include m.boximage;
    }

    &__image {
      width: 100%;
      max-width: 279px;
      margin-bottom: 6.25rem;

      @include m.sm {
        max-width: 454px;
      }

      @include m.md {
        max-width: 528px;
        margin: 0 auto;
      }

      @include m.lg {
        max-width: 582px;
      }

      @include m.xl {
        max-width: 681px;
      }
    }

    &.getmore {
      background-color: v.$navyblue;
      background-image: url(./images/element.png);
      background-repeat: no-repeat;
      background-position: 100%;
      padding-bottom: 5rem;

      @include m.sm {
        padding-bottom: 100px;
      }

      @include m.md {
        padding-bottom: 140px;
      }

      @include m.lg {
        padding-bottom: 100px;
      }
    }

    &.useas {
      background-color: v.$navyblue;
      padding: 5rem 0;

      @include m.sm {
        padding: 100px 0;
      }

      @include m.md {
        padding: 140px 0;
      }
      
      @include m.lg {
        gap: 98px;
      }
    }

    &.yourwork {
      background-color: v.$navyblue;
      padding-top: 6.25rem;
      padding-bottom: 2.5rem;
      display: flex;
      justify-content: start;
      align-items: start;

      @include m.sm {
        padding: 140px 0;
        background-image: url(./images/background2.png);
        background-repeat: no-repeat;
      }

      @include m.md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      @include m.lg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.workwith {
      background-color: v.$navyblue;
      background-image: url(./images/element.png);
      background-repeat: no-repeat;
      background-position: 100%;
      padding: 5rem 0;

      @include m.sm {
        padding: 140px 0;
      }
    }

    .section-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include m.md {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  .section--light {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m.md {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &__title--light {
      @include m.title--light;
    }

    &__title--choose {
      @include m.title--choose;
    }

    &__text--light {
      @include m.text--light;
    }

    &__text--choose {
      @include m.text--choose;
    }

    &__text--montserrat {
      @include m.text--montserrat;
    }

    &__btn {
      @include m.btn;

      &.mb-3 {
        margin-bottom: 3.75rem;

        @include m.md {
          margin-bottom: 0;
        }
      }
    }

    &__boximage {
      @include m.boximage;

      &.m-3 {
        margin-bottom: 3.75rem;
      }
    }

    &__image {
      width: 100%;
      max-width: 279px;

      @include m.sm {
        max-width: 454px;
      }

      @include m.md {
        max-width: 528px;
      }

      @include m.lg {
        max-width: 681px;
      }

      @include m.xl {
        max-width: 710px;
      }

      &.m-6 {
        margin-bottom: 6.25rem;
      }
    }

    &.projectmanagement {
      margin-top: 5rem;
      background-image: url(./images/background.png);
      background-repeat: no-repeat;
      background-position-x: left;

      @include m.sm {
        margin-top: 100px;
      }

      @include m.md {
        margin-top: 140px;
        gap: 124px;
      }
    }

    &.worktogether {
      margin-top: 6.25rem;
      margin-bottom: 5rem;

      @include m.sm {
        margin-bottom: 100px;
      }

      @include m.md {
        margin-bottom: 140px;
      }

      @include m.lg {
        gap: 160px;
      }
    }

    &.customise {
      margin-top: 6.25rem;
      margin-bottom: 11.25rem;

      @include m.sm {
        margin-top: 140px;
        margin-bottom: 280px;
      }

      @include m.md {
        gap: 60px;
      } 
    }

    &.yourdata {
      margin-top: 5rem;
      margin-bottom: 10rem;

      @include m.sm {
        margin-top: 140px;
        margin-bottom: 280px;
      }
    }

    &.chooseplan {
      margin-bottom: 85px; 

      @include m.sm {
        margin-bottom: 60px;
      }

      @include m.md {
        display: flex;
        flex-direction: column;
      }
    }
    .section-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include m.md {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .order-box {
      @include m.md {
        order: 2;
      }
    }

    .image-box {
      display: flex;
      justify-content: center;
      @include m.md {
        order: 1;
        margin-right: 33px;
      }
    }
  }

  .boards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.3125rem;

    @include m.md {
      margin-bottom: 140px;
    }

    &__board--white {
      @include m.board-white;

      &__title {
        @include m.board-title-white;
      }

      &__price {
        @include m.board-price-white;
      }

      &__text {
        @include m.board-text-white;
      }

      &__list {
        &__item {
          @include m.board-text-white;

          &:last-child {
            margin-bottom: 1.75rem;
          }

          .icon-check-circle {
            margin-right: 1.1875rem;
            color: v.$black;
          }
        }
      }

      &__btn {
        @include m.board-btn-white;
      }
    }

    &__board--blue {
      @include m.board-blue;

      &__title {
        @include m.board-title;
      }

      &__price {
        @include m.board-price;
      }

      &__text {
        @include m.board-text;
      }

      &__list {
        &__item {
          @include m.board-text;

          &:last-child {
            margin-bottom: 1.75rem;
          }
        }
      }

      &__btn {
        @include m.board-btn;
      }
    }
  }

  .sponsors {
    margin-bottom: 5rem;

    @include m.sm {
      margin-bottom: 140px;
    }

    &__title {
      @include m.title-sponsors;
      margin: 0 auto 100px;
    }

    &__logo {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6.25rem;

      @include m.md {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 85px;
      }

      @include m.lg {
        gap: 168px;
      }

      @include m.lg {
        gap: 216px;
      }
    }
  }

  .opinions {
    margin-top: 6.25rem;
    margin-bottom: 10.75rem;

    @include m.sm {
      margin-top: 140px;
    }

    &__title {
      @include m.title-opinions;
    }

    &__box-opinions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      margin-top: 3.75rem;

      :nth-child(2),
      :nth-child(3) {
        &.opinions__box-opinions__comment {
          background: v.$blue;
        }
      }

      @include m.md {
        gap: 32px;
      }

      &__comment {
        @include m.comment;

        &__text {
          @include m.text-opinion;
        }

        &__text--white {
          @include m.text-opinion-white;
        }

        &__avatar {
          width: max-content;
          margin-bottom: 1.5rem;
        }

        &__name {
          @include m.opinion-name;
        }

        &__name--blue {
          @include m.opinion-name-blue;
        }

        &__caption {
          @include m.opinion-caption;
        }

        &__caption--white {
          @include m.opinion-caption-white;
        }
      }
    }
  }

  .footer {
    @include m.footer;

    &__title {
      @include m.footer-title;
    }

    &__text { 
      @include m.footer-text;
    }

    &__btn {
      @include m.footer-btn;
    }

    &__icons {
      display: flex;
      gap: 2.5rem;
      margin-bottom: 8.75rem;

      @include m.md {
        margin: 0 auto 8.75rem;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 288px;
      margin: 0 auto 1.5rem;

      @include m.sm {
        display: flex;
        justify-content: start;
        align-items: start;
        margin: 0;
        max-width: 704px;
      }

      @include m.md {
        flex-wrap: nowrap;
        max-width: 240px;
        flex-direction: column;
      }

      &__img {
        width: 37px;
        height: 29px;
        width: max-content;
        margin-right: 0.625rem;

        @include m.sm {
          width: 68px;
          height: 53px;
        }

        @include m.md {
          width: 37px;
          height: 29px;
        }
      }

      &__text {
        @include m.footer-logo;
      }
    }

    &__text-logo {
      @include m.footer-text-logo;

      &.mt {
        margin-top: 24px;

        @include m.md {
          margin-top: 0;  
        }
      }
    }

    &__navfooter {
      @include m.navfooter;

      &__text {
        @include m.navfooter-text;
      }

      &__text--bold {
        @include m.navfooter-text--bold;
      }

      &__text--yellow {
        @include m.navfooter-text--yellow;
      }
    }

    &__smalltitle {
      @include m.footer-smalltitle;
    }

    &__smalltext {
      @include m.footer-smalltext;
    }
 
    &__socialmedia {
      margin-bottom: 2rem;
    }

    &__information {
      @include m.footer-information;

      border-bottom: 0.0625rem solid v.$darkblue;
      padding-bottom: 1.25rem;

      @include m.md {
        border: none;
      }

      &__text {
        @include m.footer-info-text;
      }
    }

    &__socialmedia {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 1.25rem;

      @include m.sm {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 0;
      }
    }

    .footer-box {
      @include m.md { 
        display: flex;
        flex-wrap: nowrap;
        gap: 45px;
      }
 
      @include m.lg {
        gap: 100px;
      }
    }

    .footer-element {
      display: flex;
      flex-direction: column;
      max-width: 259px;
      margin: 0 auto;
 
      @include m.sm {
        margin: auto 0 100px; 
      }
    }

    .mb-2 {
      margin-bottom: 2.5rem;
    }

    .mb-nav {
      margin-bottom: 5rem;

      @include m.sm {
        margin-bottom: 100px;
      }
    }

    .mb-1 {
      margin-bottom: 0.9375rem;
    } 

    .center {
      max-width: 12.25rem;
      margin: 0 auto;

      @include m.sm {
        margin: 0;
      }
    }
  }
}
