@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";
@use "grid.scss";
@use "reset.scss";

* {
  font-family: v.$inter;
  font-size: 16px;
}

.page {
  padding: 0 1rem;

  .header {
    @include m.header;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    &__logo {
      &__text {
        @include m.logotext;
      }
    }
  }

  .section--dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__title {
      @include m.title;
      margin-bottom: 1.5rem;
    }

    &__title--left {
      @include m.title-left;
      margin-bottom: 1.5rem;
    }

    &__text {
      @include m.text;
      margin-bottom: 3.75rem;
    }

    &__text--left {
      @include m.text-left;
      margin-bottom: 3.75rem;
    }

    &__btn {
      @include m.btn;

      &.mb-3 {
        margin-bottom: 3.75rem;
      }

      &.mb-6 {
        margin-bottom: 6.25rem;
      }
    }

    &__boximage {
      @include m.boximage;
    }

    &__image {
      width: 100%;
      margin-bottom: 6.25rem;
    }

    &.getmore {
      background-color: v.$navyblue;
      background-image: url(./images/element.png);
      background-position: 100%;
      padding-bottom: 5rem;
    }

    &.useas {
      background-color: v.$navyblue;
      padding: 5rem 0;
    }

    &.yourwork {
      background-color: v.$navyblue;
      padding-top: 6.25rem;
      padding-bottom: 2.5rem;
    }

    &.workwith {
      background-color: v.$navyblue;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .section--light {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__title--light {
      @include m.title--light;
      margin-bottom: 1.5rem;
    }

    &__text--light {
      @include m.text--light;
      margin-bottom: 3.75rem;
    }

    &__btn {
      @include m.btn;

      &.mb-3 {
        margin-bottom: 3.75rem;
      }
    }

    &__boximage {
      @include m.boximage;

      &.m-3 {
        margin-bottom: 3.75rem;
      }
    }

    &__image {
      width: 100%;

      &.m-6 {
        margin-bottom: 6.25rem;
      }
    }

    &.projectmanagement {
      margin-top: 5rem;
      background-image: url(./images/element2.png);
      background-position: 100%;
    }

    &.worktogether {
      margin-top: 6.25rem;
      margin-bottom: 5rem;
    }

    &.customise {
      margin-top: 6.25rem;
      margin-bottom: 11.25rem;
    }

    &.yourdata {
      margin-top: 5rem;
      margin-bottom: 10rem;
    }
  }

  .boards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.3125rem;

    &__board--white {
      @include m.board-white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &__title {
        @include m.board-title-white;
      }

      &__price {
        @include m.board-price-white;
      }

      &__text {
        @include m.board-text-white;
        margin-bottom: 1.5625rem;
      }

      &__list {
        &__item {
          @include m.board-text-white;
          margin-bottom: 1.5625rem;

          &:last-child {
            margin-bottom: 1.75rem;
          }

          .icon-check-circle {
            margin-right: 1.1875rem;
            color: v.$black;
          }
        }
      }

      &__btn {
        @include m.board-btn-white;
      }
    }

    &__board--blue {
      @include m.board-blue;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &__title {
        @include m.board-title;
      }

      &__price {
        @include m.board-price;
      }

      &__text {
        @include m.board-text;
        margin-bottom: 1.5625rem;
      }

      &__list {
        &__item {
          @include m.board-text;
          margin-bottom: 1.5625rem;

          &:last-child {
            margin-bottom: 1.75rem;
          }

          .icon-check-circle {
            margin-right: 1.1875rem;
            color: v.$yellow;
          }
        }
      }

      &__btn {
        @include m.board-btn;
      }
    }
  }

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    margin-bottom: 5rem;

    &__title {
      @include m.title--light;
    }

    &.icon-apple {
      width: 3.4375rem;
      height: 4.25rem;
    }
  }

  .opinions {
    margin-top: 6.25rem;
    margin-bottom: 10.75rem;

    &__title {
      @include m.title-opinions;
    }

    &__box-opinions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      margin-top: 3.75rem;

      :nth-child(2),
      :nth-child(3) {
        &.opinions__box-opinions__comment {
          background: v.$blue;
        }
      }

      &__comment {
        @include m.comment;

        &__text {
          @include m.text-opinion;
        }

        &__text--white {
          @include m.text-opinion-white;
        }

        &__avatar {
          width: max-content;
          margin-bottom: 1.5rem;
        }

        &__name {
          @include m.opinion-name;
        }

        &__name--blue {
          @include m.opinion-name-blue;
        }

        &__caption {
          @include m.opinion-caption;
        }

        &__caption--white {
          @include m.opinion-caption-white;
        }
      }
    }
  }

  .footer {
    background-color: v.$navyblue;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__title {
      @include m.footer-title;
      margin-bottom: 24px;
    }

    &__text {
      @include m.footer-text;
    }

    &__btn {
      @include m.footer-btn;
    }

    &__icons {
      display: flex;
      gap: 20px;
      margin-bottom: 140px;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;

      &__img {
        width: max-content;
        margin-right: 10px;
      }

      &__text {
        @include m.footer-logo;
      }
    }

    &__text-logo {
      @include m.footer-text-logo;
      margin-bottom: 80px;
    }

    &__navfooter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__text {
        @include m.navfooter-text;
      }

      &__text--bold {
        @include m.navfooter-text--bold;
      }

      &__text--yellow {
        @include m.navfooter-text--yellow;
      }
    }

    &__smalltitle {
      @include m.footer-smalltitle;
      margin-bottom: 23px;
    }

    &__smalltext {
      @include m.footer-smalltext;
      margin-bottom: 23px;
    }

    &__socialmedia {
      margin-bottom: 32px;
    }

    &__information {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 80px;
      align-items: center;
      justify-content: center;

      &__text {
        @include m.footer-info-text;
        margin-bottom: 20px;

        &.copyright {
          border-bottom: 1px solid #2e4e73;
          padding-bottom: 20px;
        }
      }
    }

    .mb-2 {
      margin-bottom: 2.5rem;
    }

    .mb-5 {
      margin-bottom: 5rem;
    }

    .mb-1 {
      margin-bottom: 0.9375rem;
    }

    .center {
      max-width: 196px;
      margin: 0 auto;
    }
  }
}
