@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.ttf?g285vb") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e900";
}

.icon-android--white:before {
  content: "\e900";
  color: #FFFFFF;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .icon-android--white:before {
    font-size: 4rem;
  }
}

.icon-apple:before {
  content: "\e901";
}

.icon-apple--white:before {
  content: "\e901";
  color: #FFFFFF;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .icon-apple--white:before {
    font-size: 4rem;
  }
}

.icon-apple--sponsors:before {
  content: "\e901";
  color: #212529;
  font-size: 4rem;
}

.icon-arrow-down:before {
  content: "\e902";
}

.icon-arrow-down--white:before {
  content: "\e902";
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: 0.375rem;
}

.icon-arrow-right:before {
  content: "\e903";
}

.icon-check-circle:before {
  content: "\e904";
}

.icon-check-circle--yellow:before {
  content: "\e904";
  color: #FFE492;
  margin-right: 1.1875rem;
}

.icon-earth:before {
  content: "\e905";
}

.icon-earth--white:before {
  content: "\e905";
  color: #FFFFFF;
  font-size: 1rem;
  margin-right: 0.375rem;
}

.icon-facebook:before {
  content: "\e906";
}

.icon-facebook--white:before {
  content: "\e906";
  color: #f7f7ee;
  font-size: 1rem;
}

.icon-linkedin:before {
  content: "\e907";
}

.icon-linkedin--white:before {
  content: "\e907";
  color: #f7f7ee;
  font-size: 1rem;
}

.icon-quote:before {
  content: "\e908";
}

.icon-quote--navyblue:before {
  content: "\e908";
  color: #043873;
  font-size: 3rem;
}

.icon-quote--white:before {
  content: "\e908";
  color: #FFFFFF;
  font-size: 3rem;
}

.icon-twitter:before {
  content: "\e909";
}

.icon-twitter--white:before {
  content: "\e909";
  color: #f7f7ee;
  font-size: 1rem;
}

.icon-windows:before {
  content: "\e90a";
}

.icon-windows--white:before {
  content: "\e90a";
  color: #FFFFFF;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .icon-windows--white:before {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 75%;
  }
  .col-4 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 25%;
  }
  .col-sm-3 {
    width: 37.5%;
  }
  .col-sm-4 {
    width: 50%;
  }
  .col-sm-5 {
    width: 75%;
  }
  .col-sm-6 {
    width: 75%;
  }
  .col-sm-7 {
    width: 87.5%;
  }
  .col-sm-8 {
    width: 100%;
  }
}
@media (min-width: 1152px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.page {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .page {
    padding: 0 32px;
  }
}
.page .header {
  background-color: #043873;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .page .header {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
  }
}
.page .header__logo__img {
  width: 1.5625rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .page .header__logo__img {
    width: 37px;
    height: 29px;
  }
}
.page .header__logo__text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.22rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .header__logo__text {
    font-size: 28px;
    line-height: 34px;
  }
}
.page .header__box-btn {
  display: none;
}
@media (min-width: 1152px) {
  .page .header__box-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.page .header__box-btn__btn--yellow {
  padding: 16px 40px;
  background: #FFE492;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #043873;
}
.page .header__box-btn__btn--blue {
  padding: 16px 24px;
  background: #4F9CF9;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.page .header__hamburger {
  max-height: 1.5rem;
  max-width: 42px;
  margin: auto 0;
}
.page .section--dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1152px) {
  .page .section--dark {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.page .section--dark__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .section--dark__title {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark__title {
    text-align: left;
    font-size: 64px;
    line-height: 77px;
  }
}
.page .section--dark__title--left {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: left;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .section--dark__title--left {
    font-size: 54px;
    line-height: 65px;
    max-width: 604px;
  }
}
.page .section--dark__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .section--dark__text {
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark__text {
    text-align: left;
  }
}
.page .section--dark__text--left {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .section--dark__text--left {
    max-width: 604px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark__text--left {
    text-align: center;
  }
}
.page .section--dark__btn {
  padding: 1.25rem 2.5rem;
  background-color: #4F9CF9;
  border-radius: 0.5rem;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.page .section--dark__btn.mb-3 {
  margin-bottom: 3.75rem;
}
.page .section--dark__btn.mb-6 {
  margin-bottom: 6.25rem;
}
.page .section--dark__boximage {
  background-color: #C4DEFD;
  width: 17.875rem;
  height: 11.9375rem;
}
@media (min-width: 768px) {
  .page .section--dark__boximage {
    width: 551px;
    height: 367px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark__boximage {
    width: 526px;
    height: 350px;
  }
}
.page .section--dark__image {
  width: 100%;
  max-width: 279px;
  margin-bottom: 6.25rem;
}
@media (min-width: 768px) {
  .page .section--dark__image {
    max-width: 454px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark__image {
    max-width: 528px;
    margin: 0 auto;
  }
}
.page .section--dark.getmore {
  background-color: #043873;
  background-image: url(./images/element.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .page .section--dark.getmore {
    padding-bottom: 100px;
  }
}
@media (min-width: 1152px) {
  .page .section--dark.getmore {
    padding-bottom: 140px;
  }
}
.page .section--dark.useas {
  background-color: #043873;
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .page .section--dark.useas {
    padding: 100px 0;
  }
}
@media (min-width: 1152px) {
  .page .section--dark.useas {
    padding: 140px 0;
  }
}
.page .section--dark.yourwork {
  background-color: #043873;
  padding-top: 6.25rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
}
@media (min-width: 768px) {
  .page .section--dark.yourwork {
    padding: 140px 0;
    background-image: url(./images/background2.png);
    background-repeat: no-repeat;
  }
}
.page .section--dark.workwith {
  background-color: #043873;
  background-image: url(./images/element.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .page .section--dark.workwith {
    padding: 140px 0;
  }
}
.page .section--dark .section-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1152px) {
  .page .section--dark .section-box {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.page .section--light {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1152px) {
  .page .section--light {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.page .section--light__title--light {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: #212529;
}
@media (min-width: 768px) {
  .page .section--light__title--light {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__title--light {
    text-align: left;
    font-size: 64px;
    line-height: 77px;
  }
}
.page .section--light__title--choose {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: #212529;
}
@media (min-width: 768px) {
  .page .section--light__title--choose {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__title--choose {
    text-align: center;
    font-size: 64px;
    line-height: 77px;
  }
}
.page .section--light__text--light {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 3.75rem;
  color: #212529;
}
@media (min-width: 768px) {
  .page .section--light__text--light {
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__text--light {
    text-align: left;
  }
}
.page .section--light__text--choose {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  color: #212529;
}
@media (min-width: 768px) {
  .page .section--light__text--choose {
    max-width: 728px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__text--choose {
    max-width: 979px;
  }
}
.page .section--light__text--montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-align: center;
  margin-bottom: 3.75rem;
  color: #212529;
}
@media (min-width: 768px) {
  .page .section--light__text--montserrat {
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__text--montserrat {
    text-align: left;
  }
}
.page .section--light__btn {
  padding: 1.25rem 2.5rem;
  background-color: #4F9CF9;
  border-radius: 0.5rem;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.page .section--light__btn.mb-3 {
  margin-bottom: 3.75rem;
}
.page .section--light__boximage {
  background-color: #C4DEFD;
  width: 17.875rem;
  height: 11.9375rem;
}
@media (min-width: 768px) {
  .page .section--light__boximage {
    width: 551px;
    height: 367px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__boximage {
    width: 526px;
    height: 350px;
  }
}
.page .section--light__boximage.m-3 {
  margin-bottom: 3.75rem;
}
.page .section--light__image {
  width: 100%;
  max-width: 279px;
}
@media (min-width: 768px) {
  .page .section--light__image {
    max-width: 454px;
  }
}
@media (min-width: 1152px) {
  .page .section--light__image {
    max-width: 528px;
  }
}
.page .section--light__image.m-6 {
  margin-bottom: 6.25rem;
}
.page .section--light.projectmanagement {
  margin-top: 5rem;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 50%;
}
@media (min-width: 768px) {
  .page .section--light.projectmanagement {
    margin-top: 100px;
  }
}
@media (min-width: 1152px) {
  .page .section--light.projectmanagement {
    margin-top: 140px;
    gap: 124px;
  }
}
.page .section--light.worktogether {
  margin-top: 6.25rem;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .page .section--light.worktogether {
    margin-bottom: 100px;
  }
}
@media (min-width: 1152px) {
  .page .section--light.worktogether {
    margin-bottom: 140px;
  }
}
.page .section--light.customise {
  margin-top: 6.25rem;
  margin-bottom: 11.25rem;
}
@media (min-width: 768px) {
  .page .section--light.customise {
    margin-top: 140px;
    margin-bottom: 280px;
  }
}
@media (min-width: 1152px) {
  .page .section--light.customise {
    gap: 60px;
  }
}
.page .section--light.yourdata {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
@media (min-width: 768px) {
  .page .section--light.yourdata {
    margin-top: 140px;
    margin-bottom: 280px;
  }
}
.page .section--light.chooseplan {
  margin-bottom: 85px;
}
@media (min-width: 768px) {
  .page .section--light.chooseplan {
    margin-bottom: 60px;
  }
}
@media (min-width: 1152px) {
  .page .section--light.chooseplan {
    display: flex;
    flex-direction: column;
  }
}
.page .section--light .section-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1152px) {
  .page .section--light .section-box {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 1152px) {
  .page .section--light .order-box {
    order: 2;
  }
}
@media (min-width: 1152px) {
  .page .section--light .image-box {
    order: 1;
    margin-right: 33px;
  }
}
.page .boards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.3125rem;
}
@media (min-width: 1152px) {
  .page .boards {
    margin-bottom: 140px;
  }
}
.page .boards__board--white {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 0.0625rem solid #FFE492;
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 18.0625rem;
}
@media (min-width: 1152px) {
  .page .boards__board--white {
    padding: 40px 44px;
  }
}
.page .boards__board--white__title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #212529;
  margin-bottom: 1.5625rem;
}
.page .boards__board--white__price {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: #212529;
  margin-bottom: 1.5625rem;
}
.page .boards__board--white__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: #212529;
}
@media (min-width: 1152px) {
  .page .boards__board--white__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}
.page .boards__board--white__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: #212529;
}
@media (min-width: 1152px) {
  .page .boards__board--white__list__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}
.page .boards__board--white__list__item:last-child {
  margin-bottom: 1.75rem;
}
.page .boards__board--white__list__item .icon-check-circle {
  margin-right: 1.1875rem;
  color: #212529;
}
.page .boards__board--white__btn {
  padding: 1rem 2.5rem;
  background: #FFFFFF;
  border-radius: 0.5rem;
  border: 0.0625rem solid #FFE492;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: #212529;
}
.page .boards__board--blue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #043873;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 18.0625rem;
}
@media (min-width: 1152px) {
  .page .boards__board--blue {
    padding: 80px 44px;
  }
}
.page .boards__board--blue__title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #fefefe;
  margin-bottom: 1.5625rem;
}
.page .boards__board--blue__price {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: #FFE492;
  margin-bottom: 1.5625rem;
}
.page .boards__board--blue__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: #fefefe;
}
@media (min-width: 1152px) {
  .page .boards__board--blue__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}
.page .boards__board--blue__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5625rem;
  color: #fefefe;
}
@media (min-width: 1152px) {
  .page .boards__board--blue__list__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
}
.page .boards__board--blue__list__item:last-child {
  margin-bottom: 1.75rem;
}
.page .boards__board--blue__btn {
  padding: 1rem 2.5rem;
  background: #4F9CF9;
  border-radius: 0.5rem;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.page .sponsors {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .page .sponsors {
    margin-bottom: 140px;
  }
}
.page .sponsors__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin-bottom: 1.5rem;
  color: #212529;
  margin: 0 auto 150px;
}
@media (min-width: 768px) {
  .page .sponsors__title {
    font-size: 54px;
    line-height: 65px;
    max-width: 728px;
  }
}
.page .sponsors__logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
}
@media (min-width: 1152px) {
  .page .sponsors__logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 85px;
  }
}
.page .opinions {
  margin-top: 6.25rem;
  margin-bottom: 10.75rem;
}
@media (min-width: 768px) {
  .page .opinions {
    margin-top: 140px;
  }
}
.page .opinions__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  color: #212529;
}
@media (min-width: 768px) {
  .page .opinions__title {
    font-size: 54px;
    line-height: 65px;
    letter-spacing: -0.02em;
  }
}
.page .opinions__box-opinions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.75rem;
}
.page .opinions__box-opinions :nth-child(2).opinions__box-opinions__comment,
.page .opinions__box-opinions :nth-child(3).opinions__box-opinions__comment {
  background: #4F9CF9;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions {
    gap: 32px;
  }
}
.page .opinions__box-opinions__comment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.25rem;
  background: #FFFFFF;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  max-width: 18rem;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions__comment {
    padding: 60px 24px;
  }
}
.page .opinions__box-opinions__comment__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  color: #212529;
  border-bottom: 0.0625rem solid #212529;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .page .opinions__box-opinions__comment__text {
    font-size: 18px;
    line-height: 30px;
  }
}
.page .opinions__box-opinions__comment__text--white {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  border-bottom: 0.0625rem solid #FFFFFF;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .page .opinions__box-opinions__comment__text--white {
    font-size: 18px;
    line-height: 30px;
  }
}
.page .opinions__box-opinions__comment__avatar {
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1.5rem;
}
.page .opinions__box-opinions__comment__name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  color: #212529;
  margin-bottom: 0.9375rem;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions__comment__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
.page .opinions__box-opinions__comment__name--blue {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  color: #043873;
  margin-bottom: 0.9375rem;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions__comment__name--blue {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
.page .opinions__box-opinions__comment__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: #212529;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions__comment__caption {
    font-size: 16px;
    line-height: 20px;
  }
}
.page .opinions__box-opinions__comment__caption--white {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (min-width: 1152px) {
  .page .opinions__box-opinions__comment__caption--white {
    font-size: 16px;
    line-height: 20px;
  }
}
.page .footer {
  background-color: #043873;
  padding-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page .footer {
    padding-top: 140px;
  }
}
.page .footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .footer__title {
    font-size: 54px;
    line-height: 62px;
  }
}
@media (min-width: 1152px) {
  .page .footer__title {
    font-size: 72px;
    line-height: 87px;
    margin: 0 auto 1.5rem;
    text-align: center;
  }
}
.page .footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .footer__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1152px) {
  .page .footer__text {
    margin: 0 auto;
    text-align: center;
  }
}
.page .footer__btn {
  padding: 1.25rem 2.5rem;
  background: #4F9CF9;
  border-radius: 0.375rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  border: none;
}
@media (min-width: 1152px) {
  .page .footer__btn {
    margin: 0 auto;
    padding: 20px 40px;
  }
}
.page .footer__icons {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 8.75rem;
}
@media (min-width: 1152px) {
  .page .footer__icons {
    margin: 0 auto 8.75rem;
  }
}
.page .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 288px;
  margin: 0 auto 1.5rem;
}
@media (min-width: 768px) {
  .page .footer__logo {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;
    max-width: 704px;
  }
}
@media (min-width: 1152px) {
  .page .footer__logo {
    flex-wrap: nowrap;
    max-width: 240px;
    flex-direction: column;
  }
}
.page .footer__logo__img {
  width: 37px;
  height: 29px;
  width: -moz-max-content;
  width: max-content;
  margin-right: 0.625rem;
}
@media (min-width: 768px) {
  .page .footer__logo__img {
    width: 68px;
    height: 53px;
  }
}
@media (min-width: 1152px) {
  .page .footer__logo__img {
    width: 37px;
    height: 29px;
  }
}
.page .footer__logo__text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .footer__logo__text {
    font-size: 51px;
    line-height: 62px;
  }
}
@media (min-width: 1152px) {
  .page .footer__logo__text {
    font-size: 28px;
    line-height: 34px;
  }
}
.page .footer__text-logo {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 18rem;
  margin: 0 auto 5rem;
  color: #f7f7ee;
}
@media (min-width: 768px) {
  .page .footer__text-logo {
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: left;
    margin: 0 0 150px;
  }
}
@media (min-width: 1152px) {
  .page .footer__text-logo {
    font-size: 18px;
    line-height: 30px;
  }
}
.page .footer__navfooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .page .footer__navfooter {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}
.page .footer__navfooter__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (min-width: 1152px) {
  .page .footer__navfooter__text {
    font-size: 16px;
    line-height: 20px;
  }
}
.page .footer__navfooter__text--bold {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.page .footer__navfooter__text--yellow {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFE492;
}
@media (min-width: 1152px) {
  .page .footer__navfooter__text--yellow {
    font-size: 16px;
    line-height: 20px;
  }
}
.page .footer__smalltitle {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 1.4375rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page .footer__smalltitle {
    max-width: 201px;
  }
}
@media (min-width: 1152px) {
  .page .footer__smalltitle {
    font-size: 28px;
    line-height: 36px;
  }
}
.page .footer__smalltext {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  max-width: 12.5625rem;
  margin: 0 auto 1.4375rem;
}
@media (min-width: 768px) {
  .page .footer__smalltext {
    margin: 0 0 23px 0;
    max-width: 201px;
  }
}
.page .footer__socialmedia {
  margin-bottom: 2rem;
}
.page .footer__information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 0.0625rem solid #2e4e73;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .page .footer__information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media (min-width: 1152px) {
  .page .footer__information {
    border: none;
  }
}
.page .footer__information__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.25rem;
  color: #FFFFFF;
}
.page .footer__socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .page .footer__socialmedia {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0;
  }
}
@media (min-width: 1152px) {
  .page .footer .footer-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 45px;
  }
}
.page .footer .footer-element {
  display: flex;
  flex-direction: column;
  max-width: 259px;
}
.page .footer .mb-2 {
  margin-bottom: 2.5rem;
}
.page .footer .mb-nav {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .page .footer .mb-nav {
    margin-bottom: 100px;
  }
}
.page .footer .mb-1 {
  margin-bottom: 0.9375rem;
}
.page .footer .center {
  max-width: 12.25rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page .footer .center {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */