//FONTS
$inter: "Inter", sans-serif;
$montserrat: 'Montserrat', sans-serif;
$dmsans: 'DM Sans', sans-serif;


//COLORS
$white: #FFFFFF;
$whtite2: #fefefe;
$black: #212529;
$blue: #4F9CF9;
$lightblue: #C4DEFD;
$navyblue: #043873;
$darkblue: #2e4e73;
$yellow: #FFE492;
$straw: #f7f7ee;

//SHADOWS
$boardshadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
$commentshadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
